@charset "utf-8";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*CSS clearfix*/
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

/* 
Color Palette
Primary Text: #000000;
Green: #7cc576;
Light Blue: #6dcff6;
*/

/*Mobile First*/
.main, .footer, img{
	width: 100%;
}

/*background style*/
body{background-image: url("../img/brick_wall.png");
	max-width: 960px;
}

/*header style*/
header {
	background: #7cc576;
	height: 200px;
}

.logo{
	width: 140px;
}

/*Title of Page*/
h1{
	color: #000000;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 50px;
	font-weight: bold;
}

.title-container {
	float: right;
	width: 75%;
	margin-top: 45px;
}
 
 /*navigation bar*/

.desktop-nav{
	float: left;
	width: 100%;
	display: none;
	max-width: 600px;
}
.mobile-nav-container{
	position: relative;
	clear: both;
}

.desktop-nav ul{
	width: 100%;
}

.desktop-nav li{
	box-sizing: border-box;
	width: 25%;
	float: left;
	background-color: #6dcff6;
}

 a {
	text-decoration: none;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 25px;
	display: inline-block;
	margin-top: auto;
}

.main-nav li a {
	background-color: #6dcff6;
	display: inline;
	text-align: center;
	padding: 10px;
}

.main-nav li a {
	float: left;
	margin: 5%;
	width: 15%;
	box-sizing: border-box;
	margin-top: auto;
	height: 50px;
}

/*Main Content*/
h2{
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	font-weight: bold;

}

.main-section {
	float: left;
	width: 60%;
	padding:0 30px;
	box-sizing: border-box;
}

.sidebar{
	float: right;
	width: 30%;
	padding: 10px;
}

#secondary-content{
	width: 100%;
}

h3{
	margin-top: 10px;
}
.dog-gallery{
	width: 25%;
	margin: 4%;
	float: left;
	margin-top: 15px;
	box-sizing: border-box;
	text-align: center;
}

h3{
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
}

/*footer*/
footer{
	height: 120px;
}

#main-footer{
	background-color: #7cc576;
	clear: left;
}

#main-footer ul {
	float: right;
	height: auto;
}

.footer-nav-container{
	padding-bottom: 50px;
}

.footer-nav{
	text-align: left;	
	margin: 20px;
	margin-top: 35px;
 }
 
.social {
	display: inline;
	padding: 10px;
	height: 50px;
}

@media (max-width: 600px){
	#main-section{
		width: 100%;
		float: none;
	}

	#sidebar{
		width: 100%;
		float: none;
	}
}






											
